
/* LAYOUT CSS DESIGNS */
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding-right: 50px;
    padding-left: 50px;
}

.threeImageColumn{
  float: left;
  width: 33.33%;
}

.columnBlogLeft {
    float: left;
    width: 50%;
    padding-left: 200px;
}

.columnBlogRight {
    float: right;
    width: 50%;
    padding-right: 200px;
    padding-left: 40px;
}


/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
    
}
    
.croppedImage {
    height: 400px; /* height of container */
    object-fit: cover;    
}

.smallImage {
    height: 25px; 
    width: 25px;
    object-fit: center;    
}

.largeCroppedImage{
    height: 500px;
    object-fit: cover;
}
    
.center{
    text-align: center;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.centerImageCrop{
    object-fit: cover;
    display: block;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.paddingBottom{
    padding-bottom: 20px;
    
}

.paddingTop{
    padding-top: 50px;
}

.oneColumnP{
    padding-top: 10px;
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
    line-height:2;
    
}
.oneColumn{
    padding-top: 10px;
    text-align: left;
    padding-left: 200px;
    padding-right: 50%;
    line-height:2;
}

ul {text-align: left; list-style: inside}


.endPadding{
    padding-top: 200px;
}


/* FORMATTING DESIGN */
p.big{
    line-height:2;
}

.selected-text{
  background:#fff;
  color :#000;
  display:inline-block;
  
}

/* Hover over image, caption */
.overlayTextImage{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.textOverlay{
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.container {
  position: relative;
  width: 50%;
}
.container:hover .image {
  opacity: 0.3;
}

.container:hover .overlayTextImage {
  opacity: 1;
}

