
/* LAYOUT CSS DESIGNS */

/* Columns */
.column {
    float: left;
    width: 30%;
    text-align: center;
}

.columnLeft {
    float: left;
    width: 50%;
    padding-left: 400px;
}

.columnRight {
    float: right;
    width: 50%;
    padding-right: 400px;

}

.topPageColumn {
    
    float: right;
    width: 25%;
    text-align: right;
    padding-right: 40px;
}

.threeImageColumnRight{
  float: left;
  width: 33.33%;
  text-align: right;
}

.threeImageColumnCenter {
  float: left;
  width: 33.33%;
  text-align: center;
}

.threeImageColumnLeft {
  float: left;
  width: 33.33%;

}

.galleryColumn{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    
}

.topRightNavBarColumn{
    float: left;
    width: 25%;
    text-align: center;
}

.largeGalleryColumn{
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    
}

.galleryColumn img {
    vertical-align: middle;
    width: 100%;
    margin-top: 8px;
}

.largeGalleryColumn img {
    vertical-align: middle;
    width: 100%;
    margin-top: 8px;
}



/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.galleryRow{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-left: 100px;
    padding-right: 100px;
}

.topRightNavBar{
    content: "";
    text-align: center;
    clear: both;
}



/* Images */

.image1 {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;

}
    
.croppedImage {
    height: 400px; /* height of container */
    object-fit: cover;    
}

.smallImage {
    height: 25px; 
    width: 25px;
    object-fit: center;    
}

.largeCroppedImage{
    height: 500px;
    object-fit: cover;
}
    
/* Buttons */
    
.button {
    background-color: #EAFF82;
    border: none;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    border-radius: 100px;
    width: 65%;
}

.button a{
  display: block;
  background: #EAFF82;
  border-radius: 100px;
  width: 100%;
}

.imageButtons{
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: Transparent;
    background-repeat: no-repeat;
    overflow: hidden; 

    
}

.imageButtons:hover{
   transform: scale(1.05); 
    
}

.altButtons {
    background-color: #EAFF82;
    border: none;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    border-radius: 100px;
    width: 40%;
    
}

.button:hover {
  background-color: #f1f1f1;
}

/* Alignments */

.center{
    text-align: center;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.centerImageCrop{
    object-fit: cover;
    display: block;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.paddingBottom{
    padding-bottom: 20px;
    
}

.paddingTop{
    padding-top: 50px;
}

.oneColumnP{
    padding-top: 10px;
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
    line-height:2;
    
}
.oneColumn{
    padding-top: 10px;
    text-align: left;
    padding-left: 200px;
    padding-right: 25%;
    line-height:2;
}

ul {text-align: left; list-style: inside}


.endPadding{
    padding-top: 200px;
}


/* FORMATTING DESIGN */
p.big{
    line-height:2;
}

.selected-text{
  background:#fff;
  color :#000;
  display:inline-block;
  
}

/* Heading-Designs */

.headings {
    text-align: center;
    color: #EAFF82;
}

/* Hover over image, caption */
.overlayTextImage{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.textOverlay{
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.container {
  position: relative;
  width: 50%;
}
.container:hover .image {
  opacity: 0.3;
}

.container:hover .overlayTextImage {
  opacity: 1;
}


/* column resize for smaller screens */

@media screen and (max-width: 1230px) {
  .columnRight, .columnLeft, .topPageColumn {
    width: 100%;
      padding: 0px;
  }
    
    @media screen and (min-device-width: 320px) and (max-width: 500px) {
  .columnRight, .columnLeft, .topPageColumn {
    width: 100%;
    text-align: center;

  }

}

@media screen and (max-width: 1324px) {
  .threeImageColumnRight, .threeImageColumnCenter, .threeImageColumnLeft {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
    
@media screen and (min-device-width: 320px) and (max-width: 500px) {
  .threeImageColumnRight, .threeImageColumnCenter, .threeImageColumnLeft {
    width: 100%;
    text-align: center;
  }
    
@media screen and (max-width: 479px)
{
    .headings{ 
    width: 100%;
    text-align: center;
    padding: 0px;
    }
    
    
    /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .galleryColumn {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .galleryColumn {
    flex: 100%;
    max-width: 100%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .largeGalleryColumn {
    flex: 100%;
    max-width: 100%;
  }
}
    

